/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/
 @media print{
	 span,input[value]{
		 /*font-size:2em;*/
	 }
	 input:not([type=range]){
		 font-size:1.1em;
	 }
	 #header{
		 font: bold 38px Roboto, Sans-Serif!important;
		 height:53px!important;
	 }
	 td,div{
		 font-size:1.1em;
	 }
	.drop_select{
		outline: 0px;
		border: 0px;
	}
	#hiderow td {
    border: 1px solid black;
    padding: 5px;
	}
    #reg-form-container{
		/*margin-top: 2%;*/
		max-width:100%!important;
	}
	#page-wrap{
		width:100%!important;
	}
	.do-not-print *{
		display:none;
	}
	.print_padding_letterhead{
		    margin-top: 13%;
	}
	.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0;
	}
	.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.item-row {
    border-bottom: 1px solid grey;
	}
	.head_table {
    border-bottom: 1px solid grey;
	}
}
#reg-form-container{
	padding:0px;
}
.add_row:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
* { margin: 0; padding: 0; }
body { /* font: 14px/1.4 Georgia, serif; */ }
/*#page-wrap { width: 800px; margin: 0 auto; }*/
#page-wrap { width: auto; margin: 0 auto; }

textarea { border: 0; /* font: 14px Georgia, Serif; */ overflow: hidden; resize: none;background-color:white; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#header { height: 31px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: left; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; font-weight: bold; float: left; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 475px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover,.delete:focus { background-color:#EEFF88; }
input[type="text" i]:disabled{background-color:#FFF}
.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
.header_detail{    border-top: 0px solid #808080;}
.card-block-main{padding-top:2px;}
.due{color:red;}
